{% extends 'base.html' %}

{% block content %}

	{% if notFound %}
		{{ notFound }}

	{% else %}

		{% if crypto.Response %}
			Sorry {{ quote }} does not exist. Please try again...
		{% endif %}

		{% for key, value in crypto.DISPLAY.items %}

			<div class="jumbotron">
			  <h1 class="display-4">{{ key }}</h1>
			  <strong>Price: </strong>{{ value.USD.PRICE }}</br>
			  <strong>Day High: </strong>{{ value.USD.HIGHDAY }}</br>
			  <strong>Day Low: </strong>{{ value.USD.LOWDAY }}</br>
			  <strong>Market Cap: </strong>{{ value.USD.MKTCAP }}</br>
			</div>
		{% endfor %}
	{% endif %}
{% endblock  %}